form {
    padding: 1rem;
    background-color: floralwhite;
    border: 1px solid black;
    max-width: 350px;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
