<mat-toolbar color="primary">
    <mat-icon class="menu"
        (click)="onMenu()">menu</mat-icon>
    <ul>

        <li><a routerLinkActive="link-active"
                routerLink="start">start</a></li>
        @if(!authService.isLoggedIn){
        <li><a routerLinkActive="link-active"
                routerLink="login">login</a></li>
        }
        @if(authService.isLoggedIn) {

        <li><a href="#"
                (click)="signOut()">sign out</a></li>
        <li><a routerLinkActive="link-active"
                routerLink="add-stone">add stone</a></li>
        <li><a routerLinkActive="link-active"
                routerLink="manage-stones">manage stones</a></li>
        <li><a routerLinkActive="link-active"
                routerLink="simulator">simulator</a></li>
        }
    </ul>
</mat-toolbar>
