mat-sidenav-container {
    height: 100%;
    mat-sidenav {
        width: 80%;
        min-width: 21em;
        max-width: 30rem;
    }
    mat-sidenav-content {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main";
        height: 100%;

        app-header {
            grid-area: header;
        }
        main {
            overflow: auto;
            grid-area: main;
        }
    }
}
